body {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

.container {
    height: 100vh;
    padding: 0 40px;
    font-size: 0.875rem;
    font-weight: 600;
    background-image: url(https://opencages.org/_nuxt/img/homepage.0151b74.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    color: white;
}

.container::after {
    content: "";
    background-color: #0c3632;
    position: absolute;
    opacity: .85;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all .25s ease;
}

.nav {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 40px;
}

/* .nav-list-container {

} */

.nav-list {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    list-style-type: none;
}

.nav-list-link {
    position: relative;
    text-decoration: none;
    color: inherit;
    transition: all .5s ease;
}

.nav-list li {
    margin: 0 10px;
}

.nav-list-link::after {
    content: "";
    background: #17baaa;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -8px;
    left: 0;
    transform: scaleX(0);  
    transition: all .5s ease;
}

.nav-list-link:hover {
    color: #17baaa;
}

.nav-list-link:hover::after {
    transform: scaleX(1);
}

.nav-list li:last-of-type a {
    height: 30px;
    box-sizing: border-box;
    font-size: 0.75rem;
    background-color: #dd3d53;
    padding: 0 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}


.nav-list li:last-of-type a:hover {
    background-color: #c9233a;
    color: inherit;
}

.nav-list li:last-of-type a:hover::after {
    transform: scaleX(0);
}

.heart-icon {
    width: 1em;
    margin-right: 5px;
}
