body {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14pt;
    font-weight: 600;
    background-color: black;
    color: white;
    padding: 0 40px  ;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 40px;
}

/* .nav-list-container {

} */

.nav-list {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    list-style-type: none;
}

.nav-list-link {
    position: relative;
    text-decoration: none;
    color: inherit;
    transition: all .5s ease;
}

.nav-list li {
    margin: 0 10px;
}

.nav-list-link::after {
    content: "";
    background: #17baaa;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -8px;
    left: 0;
    transform: scaleX(0);  
    transition: all .5s ease;
}

.nav-list-link:hover {
    color: #17baaa;
}

.nav-list-link:hover::after {
    transform: scaleX(1);
}

.nav-list li:last-of-type a {
    height: 30px;
    background-color: #dd3d53;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}


.nav-list li:last-of-type a:hover {
    background-color: #c9233a;
    color: inherit;
}

.nav-list li:last-of-type a:hover::after {
    transform: scaleX(0);
}

.heart-icon {
    width: 1em;
    margin-right: 5px;
}
