* {
    margin: 0;
}

.container-header {
    height: 100vh;  
    background-image: url(./background-medac.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
}

.container-header::after {
    content: "";
    background-color: rgb(118, 118, 129);
    opacity: .85;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all .25s ease;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 1;
    padding: 20px;
}

.container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-nav-list {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style-type: none;
    align-content: center;
}

.nav-list li {
    padding: 10px;
}

.link-nav-list {
    color: white;
    text-decoration: none;
    font-weight: 700;
    position: relative;
}

.link-nav-list:hover{
    color: darkblue;
}

.link-nav-list::after {
    background: darkblue;
    bottom: -8px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: all .25s ease;
    width: 100%;
}

.link-nav-list:hover::after {
    transform: scaleX(1);
}

.nav-toggle {
    font-size: 2rem;
    color: #fff;
    display: none;
}

.burger-icon {
    display: inline-block;
    font-size: inherit;
    height: 1rem;
    vertical-align: -0.125em;
    cursor: pointer;
}

@media  screen and (max-width: 992px ) {
    .nav-toggle {
        display: block;
    }

    .nav-list {
        display: none;
    }
}

@media screen  and (max-width: 1300px) {
    .link-nav-list {
        color: red;
    }
}
@media screen  and (max-width: 1200px) {
    .link-nav-list {
        color: yellow;
    }
}
@media screen  and (max-width: 1100px) {
    .link-nav-list {
        color: green;
    }
}
@media screen  and (max-width: 1000px) {
    .link-nav-list {
        color: darkgreen;
    }
}